<style>
		body{background-color: #00FFFF}
		h1{background-color: #ffffff;text-align: center;}
		h2{text-align: center;}
		img src{width:100px;height:100px;}
		<style type="text/css">
		* {
			  box-sizing: border-box;
			}

			.box {
			  float: left;
			  width: 33.33%;
			  padding: 50px;
			}

			.clearfix::after {
			  content: "";
			  clear: both;
			  display: table;
			}
	</style>

</style>